@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400&display=swap');

:root{
    --white:#ffffff;
    --grey:#928d8d;
    --black:black;
    --gradient:linear-gradient(90deg, var(--grey),var(--white)); 
}

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;border: none;
    text-transform:capitalize;

}

*::selection{
    background: rgb(233, 233, 233);
    color:rgb(0, 0, 0);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #f6f6f6;
}

section{
    min-height: 50vh;
    padding: 0 9%;
    padding-top: 7.5rem;

}

header{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 3rem;
    color:var(--grey);
}

header .logo span{
    color:var(--black);
}


header .navbar a{
    font-size: 1.9rem;
    margin-left: 2rem;
    color: var(--grey);
}

header .navbar a:hover{
    color: var(--black);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color: var(--grey);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background:url('../images/background.svg') no-repeat;
    background-size:cover;
    background-position:center;

}

.home .image img{
    padding-top: 2.5rem;
    width: 55vw;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0rem);

    }
    50%{
        transform: translateY(-3.5rem);
        
    }
}


.home .content h3{
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;

}

.home .content h3 span{
    color: var(--grey);
    text-transform: uppercase;
}

.home .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;

}

















/* media queires */

@media (max-width:1200px){
    html{
        font-size:55%;
    }
}

@media (max-width:768px){
    header label{

        visibility: visible;
        opacity:1; 
    }

    header .navbar{
        position: absolute;
        top:100% ;left:0;
        width: 100%;
        background: rgb(80, 80, 80);
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 .5rem 1rem solid rgba(0, 0, 0, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity:0;
        
    
    }
    
    
    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity:1;
         
    }

    header input:checked ~ label::before{
        content:'\f00d';
    } 


    .home .content h3{
        font-size: 2.5rem;
        padding-top: 30.5rem;
    }
    .home .content p{
        font-size: 1.3rem;
    }
}

@media (min-width: 450px){
    html{
        font-size:55%;
    }
}